<%= content_for :title do %>
  <h1>We Believe In</h1>

 
      <p><strong>Positive Motivation</strong><br>
      <em>There are plenty of places on the web that we can find answers to our problems, but let's focus on our successes. Even disappointing readings are better than not knowing what we have to do, so let's celebrate our successes and see our numbers for what they really are: data that engages us to learn more about ourselves and become better and better.</em></p>

      <p><strong>the Power of Community</strong><br>
      <em>We only provide direct care for ourselves, but imagine if that care could empower hundreds, thousands, even millions of people just like us. Log books are great for us, and applications that build our graphs can be very engaging, but imagine if all that data could work together to not just show us ways to be better, but to show the world ways we make each other better.</em></p>

      <p><strong>Getting Addicted to Chronic Wellness</strong><br>
      <em>Modern technology is addictive: we get a similar hormonal response from hearing our phone 'bing' as we do from hearing our mothers voice. We want to take control of that response and use it to motivate and stimulate positive effects in chronic treatment management.</em></p>

      <p><strong>the Strength of Passive Activism</strong><br>
      <em>We're asked to eat right, exercise, check our BGs, calculate and take injections, see our medical care team, and the list goes on and on. We believe in the power of passive activism. Be a part of the cause on your time. Send us your data, we'll do the rest.</em></p>

      <p><strong>Donations of Data</strong><br>
      <em>Financial donations can change the game by assisting those in need, enabling research and expanding our voice. But we have more than money to share. Data has power, and en masse our data is immense. Even anonymized data, combined with a story and a connection to the human behind the data, can move mountains, which is exactly what we plan to do.</em></p>


<% end %>

<p>Platform by Bloc, Concept by <a href="mailto:jon@diabetesmappingproject.com">Pickd</a>.</p>


