<%= content_for :title do %>
  
<% end %>

<table class="table table-striped">
      <p><strong>GROUND RULES</strong></p>
            <ul>
            <li>Be cool.</li>
            <li>OpenSource your data, not your identity.</li>
            <li>Got a good idea?  Bring it up!</li>
      </ul></p>
</table>



<div class="containter">
<p>Concept by <a href="http://www.reddit.com/r/diabetes/">r/diabetes</a>, Platform by <a href="https://www.bloc.io">Bloc</a>, Brought to you by <a href="http://signup.diabetesmappingproject.com">the DMP</a> </p>
<p>Comments, questions, concerns: holler at <a href="mailto:jon@diabetesmappingproject.com">BeetusDisrupter</a></p>
</div>
