<div class="hero-unit">
  <h1>the Diabetes Mapping Project</h1>
  <p><strong>OpenSource Your Diabetes</strong></p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-large' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %> today!
  </p>
</div>

<div class="row">
  <div class="span4">
    <h2>Sign on Up</h2>
    <p>Create an anonymous account.  Add some profile information stats.  Look around and see what features would make your life better.</p>
  </div>
  <div class="span4">
    <h2>Upload Your Data</h2>
    <p>Anything from a CGM printout to a photo of your meter.  Anonymously post or upload any data to our feeds. We'll take whatever you got.</p>
  </div>
  <div class="span4">
    <h2>Post Early/Often</h2>
    <p>Play around for a while.  This is an opensource community of people like us.  We are activists with our data.</p>
  </div>
</div>
