<div class="hero-unit">
  <h1>the r/diabetes Challenge</h1>
  <p><strong>OpenSource Your Diabetes, Let's All Have Some Fun</strong></p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-large' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %> today!
  </p>
</div>

<div class="row">
  <div class="span4">
    <h2>Sign on Up</h2>
    <p>Sign on in with your Reddit handle.  Check out some of the goals, add your own, do your comments, you know, whatever.</p>
  </div>
  <div class="span4">
    <h2>Upload Your Data</h2>
    <p>Anything from a CGM printout to a photo of your meter.  Anonymously post or upload any data to your profile. Whatever you got.</p>
  </div>
  <div class="span4">
    <h2>Post Early/Often</h2>
    <p>This is an opensource community of good people.  We are activists with our data.  Everybody get alpong!</p>
  </div>
</div>
